@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;

.sliders {
  grid-area: sliders;
  display: flex;
  gap: 25px;
}

.slider_container {
  width: 100%;
}

.slider {
  margin-bottom: 10px;
}

.slider_title {
  margin-bottom: 15px;
}

.slider_label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider_input {
  max-width: 45px;
  flex: 0;
  background-color: transparent;
  border: 1px solid config.$colors-button_border;
  color: config.$colors-gray;
  @include lib.border-radius(3px);

  &_max {
    margin-left: auto;
  }
}
