@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;

.sort {
  margin-left: auto;
  grid-area: sort;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sort_drop {
  padding: 12px 20px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: config.$colors-background_button;
  @include lib.border-radius;
  @include lib.border-green;
  align-self: end;
}

.sort_title {
  margin-bottom: 10px;
}

.sort_radios {
  padding: 20px;
  background-color: config.$colors-sort_background;
  @include lib.border-radius;
}

.sort_list {
  @include lib.flex-col;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.sort_radios {
  display: block;
}

.sort_drop:has(.sort_drop_input:checked) ~ .sort_radios {
  display: none;
}

.sort_label {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.sort_drop_input {
}

.sort_drop_icon {
  cursor: pointer;
}

.sort_input:checked + .sort_icon {
  @include lib.state-checked;
}

@include lib.state-focus-visible('sort_drop');
