.sliders
  .slider_container
    h3.slider_title Price Range
    #price-slider.slider
    #price-slider-value-min
    #price-slider-value-max
  .slider_container
    h3.slider_title THC, %
    #thc.slider
    #thc-value
  .slider_container
    h3.slider_title CBD, %
    #cbd.slider
    #cbd-value
