.sliders
  +slider(sliderPriceRange.name, sliderPriceRange.id, true)
  +slider(sliderThc.name, sliderThc.id, false)
  +slider(sliderCbd.name, sliderCbd.id, false)
  .slider_container.noise_slider
    h3.slider_title Noise
    .slider.noise
      each item, idx in noise
          input.noise_input.visually-hidden(type='radio' id=item name='noise' value=item checked=idx === 0)
          label.noise_label(for=item)
    .slider_min_max
      p min
      p max
