- var site_name = 'Marketplace'
- var h1 = 'Marketplace test work'

//- form
- var action = '/submit';
- var method = 'POST';

//- sliders
- var sliderPriceRange = {'id': 'price-slider', 'name': 'Price Range'}
- var sliderThc = {'id': 'thc', 'name': 'THC, %'}
- var sliderCbd = {'id': 'cbd', 'name': 'CBD, %'}
- var noise = ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100']

//- filter_category
- var categories = ['buds', 'edible', "non-edible", "concentrate"]

//- sort
- var sort = [{ 'icon': 'calendar', 'name': 'Date (New first)'}, { 'icon': 'calendar', 'name': 'Date (Old first)'}, { 'icon': 'arrow-up', 'name': 'Price (High first)'}, { 'icon': 'arrow-down', 'name': 'Price (Low first)'}, { 'icon': 'thc-high', 'name': 'Total THC (High first)'}, { 'icon': 'thc-low', 'name': 'Total THC (Low first)'}, { 'icon': 'cbd-high', 'name': 'Total CBD (High first)'}, { 'icon': 'cbd-low', 'name': 'Total CBD (Low first)'}]
//- checkboxes
- var classification = ['100% Indica', '100% Sativa', '>50% Indica', '>50% Sativa']
- var productionMethod = ['Indoor', 'Outdoor', 'Greenhouse', 'Light Deprivation', 'Mixed Light', 'Other']
- var size = ['Flower', 'Pre-Roll Flower', 'Pre-Roll Infused', 'Pre-Roll Leaf', 'Shake', 'Smalls', 'Trim', 'Keef', 'Fresh Frozen']
