- var site_name = 'Marketplace'

//- form
- var action = '/submit';
- var method = 'POST';

//- filter_category
- var categories = ['buds', 'edible', "non-edible", "concentrate"]
- var sort = ['Date (New first)', 'Date (Old first)', "Price (High first)", "Price (Low first)", "Total THC (High first)", "Total THC (Low first)", "Total CBD (High first)", "Total CBD (Low first)"]
