@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;

.form {
  @include lib.grid-col;
  grid-template-areas:
    'logo search categories'
    'sliders sliders sort';
  // 'results results sort'
  // 'filters filters  sort';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
}
