@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;

.form {
  margin: 0 auto;
  max-width: config.$xl;
  width: 100%;
  @include lib.grid-col;
  grid-template-areas:
    'logo search search categories categories categories'
    'sliders sliders sliders sliders sliders sort'
    'results checked checked checked checked sort'
    'checkboxes checked checked checked checked sort'
    'checkboxes . . . . sort'
    'checkboxes . . . . sort';
  grid-template-columns: 243px repeat(4, auto) 217px;
  grid-template-rows: auto;
  gap: 10px;
}
