.search {
  width: 100%;
  position: relative;
}

.search_label {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    // background-color: red;
    background-image: url('../assets/icons/default/sprite.svg#bad-plant-haha');
    z-index: 1;
  }
}

.search_input {
  width: 100%;
  padding-block: 13px;
  padding-left: 49px;
}
