form.form(action=action, method=method)
  include ./logo.pug
  include ./search.pug
  include ./filters/category.pug

  include ./filters/sliders.pug
  include ./filters/result.pug
  include ./filters/checked.pug
  include ./filters/checkboxes.pug
  include ./filters/sort.pug