.container
  include ./logo.pug
  .search
    label.search_label(for='search')
      input.search_input(type='text', id='search', name='search', placeholder='Search for a product, flower, etc')
      +icon('20', 'search')