$black: #000;
$white: #fff;
$gray: #959595;
$yellow: #ffd996;
$green: #5aaa46;

$background: #171722;
$background_button: #353542;
$background_button__light: #297019;
$button_offset_light__36: rgba(132, 213, 44, 0.36);
$button_offset_dark: #171722;
$button_close: #58aa46;
$button_border: #606060;

$slider_light: #7acb22;
$slider_dark: #30303d;

$sort_background: #212129;
